In [2]:
import numpy as np
import pandas as pd

In [7]:
label = ['a', 'x', 'y'] 

my_list = [5, 78, 34]

arr = np.array([5, 78, 34])

d = {'a' : 5, 'x' : 100, 'y' : 34}

In [4]:
pd.Series(my_list)

0     5
1    78
2    34
dtype: int64

In [5]:
pd.Series(my_list, index=label)

a     5
x    78
y    34
dtype: int64

In [8]:
pd.Series(d)

a      5
x    100
y     34
dtype: int64

In [9]:
set1 = pd.Series([1, 2,3,4], index=['AA', 'BB', 'CC', 'DD'])

In [10]:
set1

AA    1
BB    2
CC    3
DD    4
dtype: int64

In [12]:
set2 = pd.Series([5, 6,7,8], index=['AA', 'BB', 'CC', 'DD'])
set2

AA    5
BB    6
CC    7
DD    8
dtype: int64

In [13]:
set3 = set1+ set2

In [14]:
set3

AA     6
BB     8
CC    10
DD    12
dtype: int64

In [16]:
from numpy.random import randn

In [21]:
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [22]:
df

          W         X         Y         Z
A -0.705747 -1.421379  0.072192  0.181496
B  0.494926  0.621719 -0.416515  0.268001
C -0.601524  1.325451  0.323069  2.162704
D -0.546525  0.663471 -1.564560  0.310304
E  0.380748  0.701157  0.557131  0.671056

In [23]:
df['W']

A   -0.705747
B    0.494926
C   -0.601524
D   -0.546525
E    0.380748
Name: W, dtype: float64

In [24]:
df['X']

A   -1.421379
B    0.621719
C    1.325451
D    0.663471
E    0.701157
Name: X, dtype: float64

In [25]:
df

          W         X         Y         Z
A -0.705747 -1.421379  0.072192  0.181496
B  0.494926  0.621719 -0.416515  0.268001
C -0.601524  1.325451  0.323069  2.162704
D -0.546525  0.663471 -1.564560  0.310304
E  0.380748  0.701157  0.557131  0.671056

In [26]:
df['new'] = df['W'] + df['X']

In [27]:
df

          W         X         Y         Z       new
A -0.705747 -1.421379  0.072192  0.181496 -2.127125
B  0.494926  0.621719 -0.416515  0.268001  1.116646
C -0.601524  1.325451  0.323069  2.162704  0.723927
D -0.546525  0.663471 -1.564560  0.310304  0.116946
E  0.380748  0.701157  0.557131  0.671056  1.081905