In [ ]:
import numpy as np

In [ ]:
list = [2, 5, 1, 3, 4,  7, 5]

In [ ]:
list

In [ ]:
np.array(list)

In [ ]:
matrix = [[1,2],[3,4]]

In [ ]:
matrix

In [ ]:
np.array(matrix)

In [ ]:
1 ,2, 3, 4, 5

In [ ]:
np.arange(10,20)

In [ ]:
type(np.zeros(5))

In [ ]:
np.zeros((50,50))

In [ ]:
ss = np.ones((4,4))

In [ ]:
np.eye(4)

In [ ]:
np.random.rand(3)

In [ ]:
ss = np.random.rand(3,3)

In [ ]:
ss

In [ ]:
ss.reshape(3,3)

In [ ]:
ss.shape

In [ ]:
ss.min()

In [ ]:
ss.dtype

In [ ]:
i=0

while (i<2):
    i = i+1
    print(i)

In [1]:
i=0

while (i<2):
    i = i+1
    print(i)

1
2

In [4]:
for i in range(10):
    print(i)
        
print("done")

0
1
2
3
4
5
6
7
8
9
done

In [9]:
list = ["name1", "name2", "name3", 23, 0.8]

for i in list:
    print("name is", i)

name is name1
name is name2
name is name3
name is 23
name is 0.8

In [10]:
a = 0

if(a>10):
    print(" yes")
else:
    print(" No")

 No

In [11]:
def my_name():
    return "My mane is XXX"

In [12]:
my_name()

'My mane is XXX'

In [15]:
num = [1, 2 , 3 , 4 , 2, 4, 5, 8, 10]

In [16]:
def remove_duplicate_num(duplicate):
    
    uniques = []
    
    for num in duplicate:
        if num not in uniques:
            uniques.append(num)
            
    return(uniques)

In [18]:
print("The unique numbers are ",remove_duplicate_num(num))

The unique numbers are  [1, 2, 3, 4, 5, 8, 10]

In [24]:
num2  = [22, 44, 55, 77 , 44, 33, 5, 5,5, 5,5 , 77, 8, 10]

In [21]:
num2

[22, 44, 55, 77, 44, 33, 77, 8, 10]

In [25]:
print("The unique numbers are ",remove_duplicate_num(num2))

The unique numbers are  [22, 44, 55, 77, 33, 5, 8, 10]

In [26]:
import pandas as pd

In [31]:
df = pd.read_csv('test.csv')

In [32]:
df

   A   B   C    D   E
0   1   1   1   1   1
1   2   1  34  45  78
2   2   1  34  45  56
3   2   1  34  43  56
4   2   1  76  45  56

In [46]:
pd.read_excel('test.xlsx', index_col=0)

Empty DataFrame
Columns: []
Index: []

In [38]:
ex.to_excel('test.xlsx', sheet_name = 'Sheet1')

In [43]:
ex

Empty DataFrame
Columns: []
Index: []